body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 54px;
  -webkit-font-smoothing: antialiased;
  color:#0a0a23;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  line-height: 5.5rem;
	color:rgb(11, 25, 46); !important
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

.social-icons a {
  display: inline-block;
  height: 3.1rem;
  width: 3.1rem;
  background-color: #1b1b32;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 3rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #495057;
  transition: .5s;
}

.dev-icons {
  font-size: 3rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #fff;
}

#sideNav .navbar-toggler:focus {
  outline-color: rgb(100, 255, 218);
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }

  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 9rem;
    max-height: 9rem;
  }

  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color:#495057;
  transition: .5s;
}
section.resume-section {
  padding-top: 5rem !important;
  max-width: 75rem;
  margin:0px auto;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }

  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #0a0a23 !important;
}
.blog_title{
  color:#0a0a23 !important;
}
a{
  color: #0a0a23;
}
a:hover,
a:focus,
a:active {
  color: #0a0a23;
  text-decoration: underline;
  transition: .5s;
}
.load{
  border:1px solid #0a0a23;
  text-align: center;
  padding:8px;
  margin-left: 10px; 
}

.load:hover{
  background: #0a0a23;
  color:#fff;
  transition: .5s;
}

.blog_content{
  font-size:18px;
  line-height: 1.8;
  vertical-align: baseline;
}

.featured{
  margin-top: 80px;
}

.nav_footer{
  border-bottom: 1px solid #E3FFF1;
}
.nav_footer p{
  color:#E3FFF1;
  font-size:12px;
  padding-bottom: 0;
  margin:5px;
}        
@media (max-width: 640px){
  .nav_footer{
    display: none;
  }
}